@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @fibResult</p>

<button class="btn btn-primary" @onclick="IncrementCount">Increase</button>
<button class="btn btn-danger" @onclick="DecrementCount">Decrease</button>

@code {
    private int currentCount = 0;
    private int fibResult = 0;
    private void IncrementCount()
    {
        currentCount++;
        fibResult = Fib(currentCount);
    }
    private void DecrementCount()
    {
        currentCount--;
        currentCount = currentCount < 0 ? 0 : currentCount;
        fibResult = Fib(currentCount);
        
    }
    static int Fib(int n)
    {
        if (n < 0) return 0;
        if (n == 0) return 1;
        return (n < 2) ? n : Fib(n - 1) + Fib(n - 2);
    }
}
